<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../stylesheets/auxiliars-HTML.css'/>
    <title>User does not exist.</title>
</head>
<body>
    <div class="main-container">
        <h1>Sorry!</h1>
        <p>This username doesn't exist.</p>
        <br>
        <p>If you already have a user, please try to login again.</p>
        <a href="./index.html"> Login here.</a>
        <p>If you  want register you whit this username.</p> 
        <a href="./register.html"> Register here.</a>
    </div>
</body>
</html>