
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My blog | My writings</title>
    <link rel='stylesheet' href='../stylesheets/myWritings.css'/>
</head>
<body>
   <div class="mainContainer">

		<div class="arrowContainer">
			<div class="arrow arrowLeft" id="leftButton"></div>
		</div>	
		
			<div class="writings-container" id="writings-container">
 
				<!--
				estos escritos se llenan automaticamente desde JS.
				-->
			</div>
	
		<div class="arrowContainer">
			<div class="arrow arrowRight" id="rightButton" ></div>
		</div>	

   </div>

	<button class="btn-back" type="button" id="back-button" >
		Back 
	</button>
	
    <script src="../scripts/myWritings.js"></script>
</body>
</html>
