<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../stylesheets/auxiliars-HTML.css'/>
    <title>New User Created</title>
</head>
<body>
    <div class="main-container">
        <h1>Congrats!</h1>
        <p>You're a new user.</p>
        <br>
        <p>Please go to login<a href="./index.html"> Clicking here.</a></p> 
    </div>
</body>
</html>