
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My blog | My writings</title>
    <link rel='stylesheet' href='../stylesheets/myWritings-publicWritings.css'/>
</head>
<body>
	<div class="buscador">
		<input type="text" placeholder="Look for author o title" id="input-buscador">
	</div>
    <div class="mainContainer">

		<div class="arrowContainer">
			<div class="arrow arrowLeft inactive" id="leftButton"></div>
		</div>	
		
			<div class="writings-container" id="writings-container">
 
				<!--
					<div class="writing" id="534a9031-a22b-48bf-8f27-1f6be5517057">Dosed</div>
					
								estos escritos se llenan automaticamente desde JS.
				-->
			</div>
	
		<div class="arrowContainer">
			<div class="arrow arrowRight inactive" id="rightButton" ></div>
		</div>	

    </div>

	<button class="btn-back" type="button" id="back-button" >
		Back 
	</button>
	
    <script src="../scripts/publicsWritings.js"></script>
</body>
</html>
