<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My blog | login</title>
    <link rel='stylesheet' href='../stylesheets/login-register.css'/>
</head>
<body>

    <div class="login-container">
        <div class="login-header">
            <h1>Welcome!</h1>
            <p>Please fill the form with your data</p>
        </div>
            
        <div class="login-body">
            <div  id="form-container">
                <!--  action="http://localhost:3000/register"   -->
                <div class="login-generic-camp">
                    <input type="text" id="register-username-1" name="user-name" required placeholder="user name (you'll login with this name)" autofocus>
                </div>
                <p id="warning-1" class="warning" hidden>* this username is already exist.</p>
                <div class="login-generic-camp">
                    <input type="text" id="register-username-2" name="user-name" required placeholder="please repeat your user name" >
                </div>
                <p id="warning-2" class="warning" hidden>* both username fields must match.</p>
                <div class="login-generic-camp">
                    <input type="text" id="register-real-name" name="real-name" required placeholder="name" >
                </div>
                <p id="warning-3" class="warning" hidden>* some character is not valid.</p>
                <div class="login-generic-camp">
                    <input type="text" id="register-real-surname" name="real-surname" required placeholder="lastname" >
                </div>
                <p id="warning-4" class="warning" hidden>* some character is not valid.</p>
                <div class="login-generic-camp">
                    <input type="email" id="register-email" name="email" required placeholder="email" >
                </div>
                <p id="warning-5" class="warning" hidden>* this mail is not valid.</p>
                <div class="login-generic-camp">
                    <input type="password" id="password-1" name="pass1" required placeholder="choose a password" >
                </div>
                <div class="login-generic-camp">
                    <input type="password" id="password-2" name="pass2" required placeholder="repeat your password" >
                </div>
                <p id="warning-6" class="warning" hidden>* the passwords don't match</p>
                
                
                <div class="login-generic-camp login-btn-container">
                    <input type="submit" class="btn disabled" id="btn-submit"  value="Send">
                    <br>
                    <p>If you already have an account <a href="./index.html"> login here.</a></p>
                </div>

            </div>
        </div>  
    </div>
    <script src="../scripts/register.js"></script>
</body>
</html>