<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My blog | Home</title>
   <link rel='stylesheet' type="text/css" href='../stylesheets/userMain.css'/>   

    <!-- <link rel='stylesheet' type="text/css" href='/home/facu/Escritorio/programacion/proyectosPropios/blog/public/stylesheets/userMain.css'/>   -->
</head>
<body>
    <div class="mainContainer">
        <div class="username-container">
            <h2>     
                User: <var id="varUserName">Not Register</var> <!-- como es un archivo EJS y desde el servidor le pase la userData, puedo acceder a esta de esta forma.-->
            </h2>
        </div>

            <a href="writeCreator.html"> <button class="options-container" >New Writing</button></a>

        <button class="options-container">
            Mis Escritos
        </button>
        <button class="options-container">
            Escritos Publicos
        </button>
    </div>
    <script src="../scripts/userMain.js"></script>
</body>
</html>