<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My blog | Home</title>
   <link rel='stylesheet' type="text/css" href='../stylesheets/writing.css'/>   

    <!-- <link rel='stylesheet' type="text/css" href='/home/facu/Escritorio/programacion/proyectosPropios/blog/public/stylesheets/userMain.css'/>   -->
</head>
<body>
    <div class="mainContainer">
        <div class="title-container">
            <h2>     
                <var id="text-title"> <!-- se completa desde JS-->  </var> <!-- como es un archivo EJS y desde el servidor le pase la userData, puedo acceder a esta de esta forma.-->
            </h2>
        </div >

        <div class="text-container">
            <p id ="text-body">
               <!-- se completa desde JS-->
            </p>
        </div>
    </div>

    <div class="buttons-main-container">
        <button class="btn" type="button" id="back-button" >
            Back 
        </button>

        <button class="btn" type="button" id="edit-button">
           Edit
        </button>   

        <button class="btn" type="button" id="delete-button">
            Delete
         </button>  
        
    </div>
    

        
    <script src="../scripts/writing.js"></script>
</body>
</html>