:root{
    --body-bg-color:rgb(128, 191, 211);
    --maindiv-bg-color:rgb(105, 187, 183);
    --content-bg-color:rgb(219, 209, 245);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: var(--maindiv-bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainContainer{
    width: 80vw;;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px blue solid;*/
}

/*los div vacios los hago como flechas.*/

.arrow{
    width: 0;
    height: 0;
}
.arrow:active{
    scale: 0.92;
}

.arrowLeft{

    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right:70px solid black;
    margin-right: 25px;
    margin-left: 10px;
    transition: all 0.3s;
}
.arrowLeft:hover{
    border-right:70px solid rgb(241, 234, 135);
}

.arrowRight{
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 70px solid black;
    margin-left: 25px;
    margin-right: -10px;
    transition: all 0.3s;
}
.arrowRight:hover{
    border-left:70px solid rgb(241, 234, 135);
}

/*estilo de los escritos.*/

.writings-container{
width: 100%;
margin:20px;
overflow-x: visible;
display: grid;
grid-template-columns: repeat(3, 33%);
grid-template-rows: repeat(4, 100px);
grid-auto-flow: row;
}

.writing {
margin: 0;
padding: 0;
background-color: var(--content-bg-color);
border: 4px solid white;
border-radius: 10px;
width: 75%;
height: 50px;
text-align: left;
vertical-align: middle;
overflow:hidden;
white-space: nowrap;
text-overflow: ellipsis;
font-family: Arial, sans-serif;
font-size: 18px;
transition: background-color 0.2s, width 2s,padding-right 3s, z-index 0s;

}
  
.writing:hover {
background-color: rgb(241, 234, 135);
width: 100%;
padding-right: 1px;
z-index: 2;
overflow-x: visible;
}


/*Boton Back.*/

.btn-back{
    font-size: 19px;
    padding: 15px 20px;
    margin-top:20px;
    width: 200px;
    height:100%;
    border: solid 4px white;
    border-radius: 12px;
    background-color: rgb(154, 206, 124);
   
}

.btn-back:active{
    transform:scale(0.95)
}

